flask==2.2.3
flask-cors==3.0.10
pyjwt==2.6.0
python-dotenv==1.0.0
markdown==3.4.3
mistune==3.0.1
pyyaml==6.0.1
beautifulsoup4==4.12.2
rich==13.5.3
werkzeug==2.2.3
streamlit==1.32.0
streamlit-authenticator==0.4.1
pdfplumber==0.10.3
google-generativeai
pathlib2
pandas
fpdf 